#header{
    background-color: rgb(226, 109, 92);
    font-family: 'Raleway', sans-serif;
}
   
   
    
#footer{
 
    background-color: rgb(226, 109, 92);
}


#nombre{
    background-color: rgb(226, 109, 92);
}
   


body{
    background-color: rgb(255, 225, 168);
}
    
    
img{
    height: auto;
    width: 120px;
}
    
a{
    color: black;
    text-decoration: none
}
h2,li,p,td {
    font-family: 'Raleway', sans-serif;
}
#button{
    background-color:rgb(226, 109, 92) ;
    border: none;
}
.iconFooter{
    padding: 5px;
}

.perfil{
    
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
#fotoPerfil{
    margin-top: 10%;
}
   
#ilustracion{
    padding-top: 3%;
    height: 350px;
    width: 350px;
}
   

#div1{
    background-color: rgb(255, 225, 168);
    font-family: 'Raleway', sans-serif;
}
  
    
#div2{
    background-color: rgb(255, 225, 168);
    margin-bottom: 3%;
}
  
#div3{
    background-color: rgb(255, 225, 168);
    font-family: 'Raleway', sans-serif;
}
   
#div4{
    background-color: rgb(255, 225, 168);
    font-family: 'Raleway', sans-serif;
}
 
.colorFuente{
    color: aliceblue;
}
.background{
    background-color: rgb(255, 225, 168);
}
   