body{
    margin: 0px;
    padding: 0px;
}

header{
    background-image: url("./asset/bg.png");
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
    height: 633px;
    width: auto;
   
}
footer{
    background-color: black;
    height: 150px;
    width: 150px;

}

img{
    height: auto;
    width: 100%;
}
.icono{
    height: 150px;
    width: 150px;

}
#proyectos{
    background-color: rgb(96, 93, 98);
    height: 650px;
}

#estudios{
    background-color: rgb(59, 174, 223);
    height: 100%;
}
#contacto{
    background-color: rgb(52, 101, 144);
    height: 650px;

}
.certificado{
    height: 200px;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}