#header{
    background-color: rgb(226, 109, 92);
}
   
    
#footer{
 
    background-color: rgb(226, 109, 92);
}


#nombre{
   
    background-color: rgb(226, 109, 92);
    /* border-radius: 20px; */
}
body{
    background-color: rgb(255, 225, 168);
}
    
img{
    
    height: auto;
    width: 120px;
}

.perfil{
    
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
#fotoPerfil{
    margin-top: 10%;
}
   
#ilustracion{
    padding-top: 3%;
    height: 350px;
    width: 350px;
}
   

#div1{
    background-color: rgb(255, 225, 168);
    padding-top: 3%;
    /* border-radius: 20px; */
    
}
#div2{
    background-color: rgb(255, 225, 168);
    margin-bottom: 3%;
    /* width: 50% ; */
    /* height:400px ; */
    /* border-radius: 20px; */
}
#div3{
    background-color: rgb(255, 225, 168);
    /* width: 50% ; */
    /* height:400px ; */
    /* border: solid 2px; */
    /* border-radius: 20px; */
}
#div4{
    background-color: rgb(255, 225, 168);
    /* width: 50% ; */
    /* height:400px ; */
    /* border-radius: 20px; */
}
.colorFuente{
    color: aliceblue;
}
.background{
    background-color: rgb(71, 45, 48);
}